from entities import Contact

new_contact = Contact(
    name="John",
    last_name="Doe",
    phone="123-456-7890",
    email="john.doe@example.com",
    street="123 Main St",
    Enum="A1",
    Inum="B2",
    col="Downtown",
    mun="Springfield",
    city="Springfield",
    state="IL",
    country="USA"
)

new_contact.save()